:root {
    --fg: rgb(48, 48, 48); // in legacy equivalent to `corFn`?
    --bg: rgb(22, 22, 22); // in legacy equivalent to `corFn2`?
    --white: rgb(185,185,185); // in legacy equivalent to `corWire`?
}

html, body {
    background-color: var(--bg);
}

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent !important;
    &:focus {
        outline: none !important;
    }
    // no-select
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -o-user-select: none;
    -moz-user-select: none;
}

// @font-face {
//     font-family: "MyriadRoman";
//     src: url("assets/fonts/Myriad_Roman.ttf");
// }

// * {
//     font-family: 'MyriadRoman', Helvetica, Arial, sans-serif;
// }

// h1 {
//     font-weight: normal;
// }
